.toolbar {
  background-color: #8B0000; /* Dark red */
  overflow: hidden;
  font-family: Verdana, sans-serif;
}
.toolbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
.toolbar a:hover {
  background-color: #a52a2a; /* Slightly lighter red */
}
